.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.backToHome {
  margin: 3rem 0 0; /* mt-12 mx-0 mb-0 */
}

.heading2Xl {
  font-size: 2.5rem; /* text-4xl */
  line-height: 1.2; /* leading-tight */
  font-weight: 800; /* font-extrabold */
  letter-spacing: -0.05rem; /* tracking-tighter */
  margin: 1rem 0; /* my-4 mx-0 */
}

.headingLg {
  font-size: 1.5rem; /* text-2xl */
  line-height: 1.4; /* leading-snug */
  margin: 1rem 0; /* my-4 mx-0 */
}

.headingMd {
  font-size: 1.2rem; /* text-xl */
  line-height: 1.5; /* leading-normal */
}

.list {
  list-style: none; /* list-none */
  padding: 0; /* p-0 */
  margin: 0; /* m-0 */
}

.listItem {
  margin: 0 0 1.25rem; /* mt-0 mx-0 mb-5 */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.body {
  background-color: white;
}

.colorInherit {
  color: inherit;
}

.lightText {
  color: #666; /* stone-500 */
}